

h1, h3
{
    text-align:center;
}

.news p
{
    margin-top:0px;
}

.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

/* Footer style
--------------- */
html 
{
    min-height: 100%;
    position: relative;
}

body 
{
    margin-bottom: 46px; /* hauteur du footer */
}

.footer
{
    position:absolute;
    bottom: 0;
    width: 100%;
    max-height: 0px; 
    line-height: 46px; /* centrer verticalement */
}

#admin
{
    float:right;
}
  
/* Formulaire
---------------- */
.container 
{
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    
}
  
label 
{
    display:block;
    width:150px;
    float:left;
    color:#DE6262;
    position: absolute;
}

#formulaire
{
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#butForm
{
    margin-top:5px;
}

/* Connexion
---------------- */

body 
{
    background: #252525;
    font-family: 'Roboto';
    font-weight: 300;
}

.main 
{
    background: white url(https://goo.gl/images/XdrzxW) right top no-repeat;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}

@media only screen and (max-width : 992px) 
{
    .main 
    {
        background: white;
        margin-top: 30px;
    }
}

h1 
{
    font-family: 'Calibri', sans-serif;
    font-weight: 300;
    color: #555;
    margin-bottom: 0;
}

h2 
{
    font-family: 'Calibri', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 18px;
    margin-top: 5px;
}

form 
{
    margin-top: 60px;
}

.credits 
{
    margin-top: 40px;
    color: #999;
    font-size: 12px;
}

.credits a 
{
    color: inherit;
}

form
{
    margin-top:0;
}

#title_ep
{
    color:#5782AC;
    margin-bottom:15px;
    width:35%;
}

#id_ep
{
    color:#5782AC;
    margin-bottom:15px;
    width:31%;
}

#contenu
{
    width: 90%;
    padding-bottom: 15px;
    padding-top:15px;
    background-image:url(../images/vintage-concrete.png);
}

#contenu h1
{
    margin:10px 0px 15px 0px;
    color:#5782AC;
    font-weight:bold;
}

/* Formulaire login
------------------- */

.login-block
{
    background: #DE6262;  
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    /* padding : 50px 0; */
}

.banner-sec img
{
    background:no-repeat left bottom; 
    margin-left: 15px;
    min-height:500px; 
    border-radius: 0 10px 10px 0; 
    padding:0;
}

.carousel-inner
{
    border-radius:0 10px 10px 0;
}

.carousel-caption
{
    text-align:left; 
    left:5%;
}

.login-sec
{
    padding: 26px 30px;
    position:relative;
}

.login-sec .copy-text
{
    position:absolute; 
    width:80%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;
}

.login-sec .copy-text i
{
    color:#FEB58A;
}

.login-sec .copy-text a
{
    color:#E36262;
}

.login-sec h2
{
    font-weight:800; 
    font-size:30px; 
    color: #DE6262;
}

.login-sec h2:after
{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FEB58A; 
    display:block; 
    margin-top:20px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto;
}

.btn-login
{
    background: #DE6262; 
    color:#fff; 
    font-weight:600;
}

.banner-text
{
    width:70%; 
    position:absolute; 
    bottom:40px; 
    padding-left:20px;
}

.banner-text h2
{
    color:#fff; 
    font-weight:600;
}

.banner-text h2:after
{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FFF; 
    display:block; 
    margin-top:20px; 
    border-radius:3px;
}

.banner-text p
{
    color:#fff;
}

.btn.btn-login.float-right
{
    margin-top:15px;
}

/* Tableau de bord admin
---------------------- */

img.dash 
{
    color:white;
}

.table th
{
    color:#5782AC !important;
}

.lead
{
    text-align: center;
}
#infoTabl
{
    margin: 0 10% 0 10%;
    font-size: larger;
}

a.btn.btn-info.btn-lg
{
    margin:5px;
}

.jumbotron
{
    background-image:url(../images/wallpaperBook.png);
    background-repeat:no-repeat;
}
  

/* AccueilAccueil
---------- */
.card
{
    width: 28%;
}

.news h3
{
    font-size:1.2em;
    color:DarkSlateGray;
    margin-bottom:0px;
    font-weight:700;
    line-height: 1.6;
}

.news a
{
    color:DarkCyan;
}

.news a:hover
{
    color:DarkKhaki;
}

#logo
{
    width:10%;
    margin-bottom: 5px;
}

#imgAccueil
{
    width:100%;
    height:450px;
    z-index:2;
    border-radius:5px;
}

#alaska
{
    color:#5782AC;
    font-weight:bold;
}

i
{
    color:#e0e0d1;
    font-weight:bold;
}

a.nav-link{
    color:#d4a008 !important;
}

/* Page Histoire Jean Forteroche
----------------------------- */

span.text-muted
{
    font-weight:normal;
}

h2.featurette-heading{
    color:#e0e0d1;
    font-weight:bold;
}

#story
{
    text-align:left;
}

/* Footer
-------- */

#footer
{
    background-color:#D6D9D9;
}


